<h1>Hello I'm search here are your results</h1>

        {{# all }}
            <article class="item">
            <div class="cornerNumber">{{ index }} </div>
            <ol>
                <li>Name: {{ name }} </li>
                <br>
                <li>Carbs: {{ carbs }} </li>
                <br>
                <li>Proteins: {{ proteins }} </li>
                <br>
                <li>Fats: {{ fats }} </li>
                <div class="image">
                <img src='/images/{{ index }}.jpg' width='100' height='100'>
                </div>
                </ol>
            </article>
        {{/all}}